/* INICIO MENU */
header{
    background-color: black;
    color: yellow;
    border: 1px solid black;
    font-family: 'Carter One','Lalezar', cursive;
    font-size: 22px;
    padding-left: 20px;
    
}
header h1{
    display: inline;
    transition-property: font-size;
    transition-duration: 2s;
}
#clip{
    font-size: 40px;
    padding-left: 10px;
}
nav{
    background-color: rgb(21,21,21);
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-family: 'Fredoka One',Helvetica, cursive;
}
nav a:hover{
    transition-property: color;
    transition-duration: 1.5s;
    color:rgb(255, 101, 101);
}
/* FIN MENU */
/* font-family: 'Poppins', sans-serif; */
/* INICIO CUERPO DE PAGINA */
@media only screen and (max-width: 600px) {
    nav a{
        margin-left: 20px;
        
    }
    section{
        background-color: rgb(45,45,46);
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(45,45,46);
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .flex-container img{
      padding-top: 10px;
      padding-left: 20px;
      
  }
  @media only screen and (min-width:768px) {
    section{
        background-color: rgb(45,45,46);
    }
  }


section{
    background-color: rgb(45,45,46);
}
section p{
    font-size: 20px;
    color: yellow;
    font-family:  Helvetica;
    font-weight: bold;
    padding-left: 25px;
}
section h2{
    font-family:'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}
section form{
    padding-left: 30px;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
}
/* FIN CUERPO DE PAGINA */

/* INICIO PIE DE PAGINA */
footer{
    background-color: rgb(70, 70, 70);
    padding-top: 5px;
    padding-bottom: 5px;
}
footer h5{
    color: white;
    font-size: 10px;
    padding-left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* FIN PIE DE PAGINA */